<header>
  <div class="container">

    <nav class="navbar navbar-default " id="rolling-nav">
      <div class="container-fluid menu">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active" ><a href="index.html" data-clone="home" class="active">home <span class="sr-only">(current)</span></a></li>
            <li ><a href="about.html" data-clone="about us">about us</a></li>
            <li><a href="activities.html" data-clone="activities">activities</a></li>
            <li><a href="gallery.html" data-clone="gallery">gallery</a></li>
            <li><a href="products.html" data-clone="products">products</a></li>
            <li><a href="contact.html" data-clone="contact">contact</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
      <div class="container logo " style="max-width:960px;">
        <h1  style="color:#fdd330">{{site.title}}<img src="assets/img/banner/img2.png" style="margin-left:-20px"/><span class="second">{{site.sub}}</span></h1>
        <p style="color:#f5d712;font-weight:600 ;text-align:center;margin-left:20px;" class="container" >the best quality products</p>
       </div>

  <hr class="line-1" style="max-width:960px;">

  </div>
</header>
