<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% endif %}</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/normalize.css" >
    <link rel="stylesheet" href="assets/css/main.css" >
    <script type="text/javascript" src="assets/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.lighterbox.0.0.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  <!-- displaying content on same page -->
<script type="text/javascript">
$(document).ready(function(){
       $("#categories li a ").click(function(e){
      e.preventDefault(e);
      var page_url=$(this).prop('href');
      $('#content').load(page_url );
    });
});

</script>
<!--hightlight the list items  -->
<script type="text/javascript">
$(document).ready(function(){
var classHighlight = 'highlight';
var $thumbs =  $("#categories li ").click(function(e){
    e.preventDefault(e);
    $thumbs.removeClass(classHighlight);
    $(this).addClass(classHighlight);
      });
});
</script>


  </head>
  <body >
