// constant
h3{
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fdd330;
  font-weight: bold;
}

.text-2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #aea580;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;

}
.sub-head{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #aea580;

}
.second{
  color:#754f44;
}
.object li{
  border-left: 5px solid #8EBD40;
  margin: 0 0 5px 0;
  padding-left: 5px;
}
