
// lightbox

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;

    z-index:1032;
}

.orange { border-left: 5px solid #F5876E; }

.blue{ border-left: 5px solid #61A8DC; }

.green{ border-left: 5px solid #8EBD40; }

.purple { border-left: 5px solid #988CC3; }

.gold { border-left: 5px solid #D8C86E; }

.brochures ul {
    margin-bottom: 14px;
    list-style: none;
    padding: 0;
        li { width:250px; height: 30px;  margin: 0 0 7px 0; }
         a {
            display:flex;
            @extend li;
            background:inherit;
            font-size: 18px;
            padding: 5px 0 0 20px;
            text-decoration: none;
            &:hover{background-color: $body_color;}
            }
      }

// product section

.product {
p{
  text-transform:uppercase;
  font-weight: bold;
  font-family:cursive;
  color: black;
}
img{
  margin-bottom: 10px;

}
h1{text-decoration: underline;
  color:rgb(160, 171, 32);
}
hr{
  background: black;
  height: 1px;
}
}
